.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
.stars {
  background: url("stars.png") repeat-x 0 0;
  width: 150px;
}

.stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
.stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
.stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
.stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
.stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
.stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
.stars label:hover ~ span {
  background-position: 0 -30px;
}
.stars label.star-5:hover ~ span {
  width: 100% !important;
}
.stars label.star-4:hover ~ span {
  width: 80% !important;
}
.stars label.star-3:hover ~ span {
  width: 60% !important;
}
.stars label.star-2:hover ~ span {
  width: 40% !important;
}
.stars label.star-1:hover ~ span {
  width: 20% !important;
}
.stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}
body {
  counter-reset: section;
}
.questions::before {
  counter-increment: section;
  content: " " counter(section) ") ";
  float: left;
}
.questions{
  text-align: left;
  padding-left: 10px;
  margin-top: 30px;
}
.optionsClass{
  text-align: left;
  padding-left: 20px;
}
#wrapper{
  background-image: url("surveyBack.png");
}
.inputStyle{
  width: 250px;
  height: 40px;
  border-radius: 6px;
}
.startUpClass{
  /*
  background-image: url("surveyMain.jpg");
  */
  height: 700px;
}
.welcomeTxt{
  color: darkseagreen;
}
.body {
  margin: 0;
  height: 100%;
}
